$primaryColor: #57666e;
$successColor: #8fc1e3;
$dangerColor: #f16d6d;
$buttonBackgroundColor: #8fc1e3;

.progress-bars {
  .valid {
    background-color: $successColor;
  }

  .overLimit {
    background-color: $dangerColor;
  }

  .progress-bar {
    height: 40px;
    position: relative;

    background-color: $primaryColor;
    padding: 2px;
    border: 1px solid $primaryColor;
    margin: 1em 0;

    .progress-fill {
      height: 100%;
      transition: width 0.5s ease-in-out;
    }

    .progress-bar-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.progress-bar-controls {
  margin: 1em;

  .bar-select {
    width: 100%;
  }

  .button-group {
    button {
      width: 100%;
    }
  }
}